/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全域設定 */
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Noto Sans TC", sans-serif;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1296px;
    height: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* 表頭 */
.header{
    border-bottom: 1px solid #F1F1F1;
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 1000;
}
.header-inner{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}
.header-logo{
    position: absolute;
    left: 0;
    top: 28px;
}
.header-meun{
    display: flex;
    gap: 40px;
    padding: 32px 0;
    .main-page{
        font-weight: 600;
    }
    a{
        color: #000000;
        &:hover{
            font-weight: 600;
        }
    }
}
input , label{
    display: none;
}
/* 框線製作 */
.header-meun li{
    position: relative;
    padding: 4px 8px;
    &::before,&::after{
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: 0;
    }
}
.header-meun li:hover{
    &::before{
        content: '';
        border-top: 1px solid #919191;
        border-left: 1px solid #919191;
        top: 0;
        left: 0;
    }
    &::after{
        content: '';
        border-top: 1px solid #919191;
        border-right: 1px solid #919191;
        top: 0;
        right: 0;
    }
}
/* 一個元素只能設定一個before、after，故用span標籤再新增下方框線 */
.header-meun span{
    position: relative;
    &::before,&::after{
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        z-index: 0;
    }
}
.header-meun span:hover{
    &::before{
        content: '';
        border-bottom: 1px solid #919191;
        border-left: 1px solid #919191;
        bottom: 0;
        left: 0;
    }
    &::after{
        content: '';
        border-bottom: 1px solid #919191;
        border-right: 1px solid #919191;
        bottom: 0;
        right: 0;
    }
}

/* RWD */
@media screen and (max-width:767px){
    .header .header-inner{
        justify-content: space-between;
        padding: 8px 12px;
    }
    .header-logo{position: static;
    }
    .header-meun{
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 50%; 
        transform: translateX(-50%); 
        display: none;
        background: #fff;
        z-index: 1;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
          }
    }
    
    /* 漢堡選單 */
    label{
        display: block;}
    input:checked ~ .header-meun{
        max-height: 240px;
        display: flex;
        width: 100%;
        align-items: center;
        gap: 24px;
        padding: 10px;
    }
    #switch{
        display: none;
    }
}

/* content */ 
.content-inner{
    display: flex;
    margin: 120px auto 80px;
    gap: 134px;
    color: #3B3B3B;
}
.article-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 74%;
    p{
        font-size: 20px;
        text-align: start;
    }
}
.content-tag{
    display: flex;
    color: #919191;
    p{
        font-size: 16px;
    }
}
.article-header{
    text-align: center;
    h2 , h3{
        line-height: 1.2;
    }
    h2{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    h3{
        font-size: 24px;
        margin-bottom: 64px;
    }
}
.article-content{
    max-width: 856px;
    h4{
        line-height: 1.2;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 16px;
    }
}
.article-content .card{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    li{
        width: calc(50% - 12px);
        p{
            color: #5B5B5B;
            font-size: 16px;
            text-align: center;
            margin-top: 8px;
        }
    }
}
.article-menu{
    background: #FAFAFA;
    width: 24%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}
.menu-list{
    display: flex;
    flex-direction: column;
    width: calc(72% - 12px);
    padding-top: 80px;
    gap: 32px;
    li{
    }
    li a{
        font-size: 20px;
        color: #5B5B5B;
        position: relative;
        padding: 4px 0;
        white-space: nowrap;
        &:hover{
            color: #1E1E1E;
            &::before{
                position: absolute;
                content: '';
                background-color: #1E1E1E;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
            }
        }
    }
}

/* content RWD */
@media screen and (max-width:767px){
    .container {
        padding: 0;
    }
    .content-inner{
        flex-direction: column-reverse;
        gap: 32px;
        margin: 0 auto 40px;
        align-items: center;
    }
    .article-menu{
        width: 100%;
    }
    .menu-list{
        flex-direction: row;
        width: 100%;
        padding: 20px 16px;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;     
        }
       li a{
        font-size: 16px;
       }
    }
    .article-content{
        padding: 0 12px;
        width: 100%;
        gap: 32px;
        h4{
            font-size: 20px;
        }
    }
    .content-tag{
        justify-content: space-between;
        margin-bottom: -8px;
        span{
            display: none;
        }
    }
    .article-header{
        h2{
        font-size: 24px;
        margin-bottom: 16px;
        }
        h3{
            font-size: 16px;
            margin-bottom: 24px;
        }
    }
    .article-content .card {
        gap: 32px;
        li{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}

/* article-more */
.article-more{
    border-top: 1px solid #C1C1C1;
    padding: 80px 0 120px;
    margin: 0 auto;
    h3{
        font-weight: 700;
        line-height: 1.2;
        font-size: 28px;
        margin-bottom: 40px;
    }
    h4{
        line-height: 1.2;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 16px;
    }
}
.article-card{
    display: flex;
    gap: 24px;
    max-width: 856px;
    li{
        max-width: 416px;
    }
    img{
        border: 1px solid #F1F1F1;
        border-radius: 8px;
        margin-bottom: 16px;
    }
}
.card-content{
    padding: 0 8px;
    .tag{
        display: flex;
        justify-content: space-between;
        p{
            background: #F1F1F1;
            border-radius: 16px;
            padding: 4px 12px;
        }
        span{
            color: #5B5B5B;
        }
    }
}

/* article-more RWD */
@media screen and (max-width:767px){
    .article-more{
        margin: 0 12px;
        padding: 40px 0 80px;
        h3{
            text-align: center;
            font-size: 24px;
        }
        h4{
            margin-bottom: 0;
        }
    }
    .article-card{
        flex-direction: column;
        row-gap: 40px;
        li{
            max-width: 100%;
        }
        img{
            width: 100%;
        }
    }
    .card-content{
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
        .tag{
            flex-direction: row-reverse;
            align-items: center;
        }
    }
}

/* footer  */
.fooder{
    background-image: url(img/footer-bg-lg.png);
}
.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 12px;
    .fooder-logo{
        margin-bottom: 24px;
    }
}
.fooder-about{
    font-size: 20px;
    .content-p{
    margin-bottom: 24px;
    color: #3B3B3B;
    }
    a{
        color: #919191;
        line-height: 1.2;
    }
} 
.fooder-link{
    ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    a{
        display: flex;
        padding: 8px 24px;
        border-radius: 8px;
        align-items: center;
        gap: 8px;
        font-size: 20px;
    }
    .black-bg a{
        background: #000000;
        color: #FFFFFF;
        font-weight: 700;
        &:hover{
            background: #a9a7a7;
        }
    }
    .white-bg a{
        background: #FFFFFF;
        border: 1px solid #C1C1C1;
        color: #3B3B3B;
        &:hover{
            background: #a9a7a7;
            color: #FFFFFF;
        }
    }
}

/* footer RWD */
@media screen and (max-width:767px){
    .fooder{
        background-image: url(img/footer-bg-sm.png);
    }
    .footer-inner{
        flex-direction: column;
        padding: 40px 0;
    }
    .fooder-about{
        text-align: center;
        a{
            display: flex;
            justify-content: center;
            height: 54px;
        }
        .content-p{
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 16px;
        }
    }
    .fooder-link a{
        padding: 4px 24px;
    }
}
@media screen and (max-width:375px){
    .fooder{
        background-image: url(img/footer-bg-sm.png);
    }
}